In [1]:
import champ_placement as chp

In [2]:
#initialise the class
show = chp.champ_placement()

height ='Med'

#get the top 20 by calling index 0
show.overall_results(height)[0]

C:\Users\rorti\OneDrive\Documents\coding\agility code\champ placment code\Attempt_2_2024\champ_placement.py:18: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  self.shows_df['Date'] = pd.to_datetime(self.shows_df['Date'])

Last show to run was nottingham
Matching rows found:
Nottingham Agility Dog Training Club

ValueError: Height 'Med' not found at 'nottingham' show

In [11]:
#get the overall non E by calling index 1
df = show.find_classes()
df_cleaned = df.drop_duplicates(subset="Class Name", keep="first")
df

,Class Name,Link,Height
class number,,,
1a,1a Med Championship Agility,agilityplaza.com/agilityClass/2145046481/results,Med
1b,1b Med Championship Jumping,agilityplaza.com/agilityClass/1502233900/results,Med
2a,2a Sml Championship Agility,agilityplaza.com/agilityClass/1095826957/results,Sml
2b,2b Sml Championship Jumping,agilityplaza.com/agilityClass/2035264167/results,Sml
1b,1b Med Championship Jumping,agilityplaza.com/agilityClass/1502233900/runni...,Med
2a,2a Sml Championship Agility,agilityplaza.com/agilityClass/1095826957/runni...,Sml
41b,41b Lge Championship Jumping,agilityplaza.com/agilityClass/1414088872/runni...,Lge
41a,41a Lge Championship Agility,agilityplaza.com/agilityClass/1796429669/runni...,Lge
42b,42b Int Championship Jumping,agilityplaza.com/agilityClass/1156656411/runni...,Int
42a,42a Int Championship Agility,agilityplaza.com/agilityClass/2090734979/runni...,Int